body {    
    background-color: gray;
}

.bg {
    width: 20%;
}

.table {    
    background-color: white;
    width: 100%;
}

.td {
    text-align: center;
}

.tdButton {
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    text-align: center;
    font: bold 30px Verdana;
    color: Gray;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 3px lightgray;
}

.button {
    width: 120px;
    height: 30px;
    font: bold 12px Verdana;
    color: gray;
}

#Grid {
    width: 100%;
    margin-bottom: 10px;
    font: 14px arial;
    color: black;
}

.GridRow {    
    font: 14px arial;
    color: black;
}

.tableNew {    
    padding-bottom: 20px;
    width: 500px;
}

.tableNewButton {    
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    text-align: center;
}

.tdLabel {
    padding-top: 20px;
    text-align: left;
    font: bold 14px Verdana;
    color: gray;
    width: 50%;
    padding-left: 70px;
}

.tdField {
    text-align: left;
    width: 50%;
    padding-left: 70px;
}

.fieldText {
    width: 350px;
    height: 30px;
    font: 18px Verdana;
    color: gray;
}

.fieldComboBox {
    width: 150px;
    height: 30px;
    font: 18px Verdana;
    color: gray;
}